@charset "UTF-8";
/* reset */
*{margin: 0; padding: 0; box-sizing: border-box;}
a:link,a:visited{color:inherit; text-decoration: none;}
li{list-style: none;}
.clearfix:after{content: ""; display: block; clear: both;}

/* header */
  header {display: flex;
          justify-content: center;
          height: 100px;}
  .container {width: 1000px;
              display: flex;
              justify-content: space-between;}
  .container .logo {display: flex;
                   align-items: center}
  .menu {display: flex;
         align-items: center;}
  .menu ul {display: flex;}
  .menu ul a {display: block; padding: 15px;}
  .menu ul a:hover {background: #bf262e; color:#fff}
  .mobile_menu {display: none;
                width: 30px; height: 30px;
                cursor: pointer;}

/* banner */
  #banner {background-image: url(../images/banner/tony-stark-poster.jpg);
           background-position: center; background-size: cover;
           height: 600px; display: flex; justify-content: center;}
  .banner_txt {display: flex;
               flex-direction: column;
               flex:1;
               align-items: flex-end;
               justify-content: center;
               color:#fff}
  .banner_txt h2 {font-size: 2.5rem;
                  width: 400px; text-align: left;}
  .banner_txt p {font-size: 1.3rem;
                 width: 400px; text-align: left;}
  .column{flex-direction: column;}

/* banner option */
  .banner_option {display: flex;}
  .banner_option>div {flex:1;
                      background: #bf262e;
                      color:#fff;
                      padding: 15px;}
  .banner_option a {font-size:1.1rem;}
  .banner_option a:hover {border-bottom: 1px solid #fff}
  .banner_title {font-weight: bold;
                 font-size: 1.2rem;
                 margin-bottom: 10px;}

/* general */
#general {display: flex;
          justify-content: center;}
#general section {flex:2; _background: skyblue;}
#general aside {flex:1; _background: pink;}

.widget_title {padding: 25px 0;}
.widget_title_txt {font-size:1.2rem;
                   font-weight: bold}
.widget_title_txt:after {content:"";
                         display: block;
                         width: 50px; height: 3px;
                         background: #bf262e;
                         margin-top: 10px;}
.widget_body {display: flex;
              flex-wrap:wrap;}
.widget_body article {flex:1 1 300px;
                  /* flex:1; min-width:300px 같음 */
                      margin-right: 20px;
                      margin-bottom: 20px;}

.news_thumb img {width: 100%;}
.news_date {display: flex; margin-bottom: 10px;}
.news_date_at {background: #bf262e; color:#fff;
              font-weight: bold; font-size: 0.9rem;
              padding: 7px; margin-right: 2px;}
.news_comments {background: #000; color:#fff;
              font-weight: bold; font-size: 0.9rem;
              padding: 7px; margin-right: 2px;}
.new_title {font-weight: bold;}

.widget.poster {margin-bottom: 20px;}
.widget.poster .widget_body {justify-content: space-between}

footer {background: #333; padding: 30px 0;
        display: flex; justify-content: center;
        color:#fff}

.mb20 {margin-bottom: 20px;}

@media screen and (max-width:700px) {
  header {height: 60px;}
  .container .logo {padding-left: 16px; width: 100px;}
  .container .logo img {width: 100%;}
  .menu {padding-right: 16px;}
  .menu ul {display: none;}
  .mobile_menu {display: flex;
                flex-direction: column;
                justify-content: space-around;}
  .mobile_menu_line {height: 4px; background: #000;
                    border-radius: 2px;}
  .banner_txt {align-items: center;}

/* banner option */
  .banner_option {flex-direction: column}
  .banner_option a {display: none;}
  .banner_option>div {padding: 20px; padding-bottom: 0;}
  .banner_option>div:last-child {padding-bottom: 20px;}

/* general */
  #container {flex-direction: column;}
  #general {padding: 0 20px;}

  .widget_body article {margin-right: 0;}
  .widget.poster {display: none;}
  .widget_body iframe {width: -webkit-fill-available;
                       height: 260px;}
}
